<div class="row">
  <h1 style="font-size:22px; font-weight:bold;"">A timeline of events relevant to the Drone Visions swarm</h1>
  <br>
  <img class="img-responsive" src="https://s3.eu-central-1.amazonaws.com/dreammachine.images/images/static/timeline.jpg" alt="Timeline of Drone Visions">
</div>