<div class="main_content_fixed">

  <div class="row">

    <div class="col-2">
    </div>

    <div class="col-8">

      <p class="section-heading">Frequently Asked Questions</p>
      <br>
      <ul>    

        <li><b>How do I create a Vision Profile?</b><br>
          Click on the “Drone Visions” button in the top left corner (just under the Drone Visions logo) and you should see a menu option called “Create Vision”. If you dont, you are probably not logged in(link). You have to create a profile and be logged in, in order to create Visions.
        </li><br>

        <li><b>How do I fund a project: I don't know where to click?</b><br>
          If you go to a Vision Profile(link to the vision profiles) and it says “granting disabled”, you cannot yet fund any projects, because the granting process hasn't opened yet. Go to Timeline (above) to see when it opens. If it is open, you should see a button next to the title of the Vision, that allows you to fund the Vision with one of your Coins (one Coin per Vision). If you don't see a button, you are probably not logged in(link), or maybe you have no coins to give. If you have no profile yet, you can create one by registering(link). You can always see how many Coins you have, under My Drone Profile(link). If you are logged in, but have no coins to give, this may be because you have not registered as a co-creator of any projects. You need to do that in order to receive Coins. You do that by going to a Vision Profile and press “Add me to the Swarm”. 
        </li><br>

        <li><b>What can be funded?</b><br>
          Material costs, equipment rent, travel expenses, even a fee for your time. Since it is up to the Swarm to decide whether to grant your Vision Coins, you may basically include any expense that is related to your Vision creation.
        </li><br>

        <li><b>How does the minimum and maximum funding work?</b><br>
          The minimum amount is what you need for your project to be realized, the maximum is the nice to have amount. If you don’t receive enough Coins/votes to reach the minimum, your Vision will be cancelled. You may not receive more than the maximum amount. 
        </li><br>


        <li><b>The minimum and maximum funding on my Vision Profile is not what I typed in…?</b><br>
          The numbers displayed are Virtual Coins - not SEK, although the virtual coins correspond to a certain amount of SEK, which will be determined once we know how many people are going to receive virtual coins, and how much our final budget is for the projects. This ratio will be determined when granting starts (see Timeline).
        </li><br>

        <li><b>Can I invite my friends to fund my Vision?</b><br>
          Yes you can, but only before granting opens (see Timeline). They will need to go to your Vision Profile and press “Add me to the Swarm” before granting opens, then they will receive Coins on their profile to distribute on Visions.
        </li><br>

        <li><b>I want to know more!</b><br>
          Great! Please join the next intro workshop (see Timeline) and the Drone Visions Facebook group!
        </li><br>

        <li><b>When do I know if I get the funding, and how much?</b><br>
          You can check that on your Vision Profile once the final granting results are published (see Timeline (link)).
        </li><br>

        <li><b>How and when is the funding paid?</b><br>
          At the end of the exhibition, you give Anna your receipts and/or invoice and get reimbursed for up to the amount that you received a funding confirmation for. Please provide your bank details and allow up to 14 days for the payment to be realized.
        </li><br>

        <li><b>Where does the funding come from?</b><br>
          The money for Drone Visions comes mainly from Kulturbryggan, the Goethe-Institut, and sponsors, and we also encourage you to find additional funding for your Vision elsewhere. 
        </li><br>

        <li><b>Who is behind this?</b><br>
          Initiated by the Goethe-Institut Schweden and made possible by Kulturbryggan, Drone Dancing is an international collaboration between Färgfabriken, Goethe-Institut, TodaysArt festival (NL), Glasgow Science Centre (SCO), Click Festival (DEN), Drone Dancing Society and plenty of visionary individuals.
        </li><br>

        <p class="section-heading">Practical conditions</p>

        <p><em>As a participant, you are expected to:</em></p>

       <li>• Not create any permanent damage or changes to the premises or the building. This means that you cannot drill, nail etc in the floor, pillars, walls or ceiling.</li><br>


       <li>• Responsible for hat the space and area you borrow will be restored in the same state as it was lent. This applies to color, tape, etc.</li><br>


       <li>• Smoke of all kinds must not be used in the building due to our fire alarm.</li><br>


       <li>• All technology must be able to be switched off, due to our alarm system which is based on movement.</li><br>


       <li>• There is unfortunately no access to wifi in the main hall.</li><br>

       <p class="section-heading">Terms and conditions</p>

      <p>Färgfabriken will not be responsible for any expenses of any kind. Färgfabriken will only lend the main hall under these following conditions:</p>

      <li>• You must be 18 years of age or older to participate and be covered by a home insurance, or equivalent insurance.</li><br>
      <li>• You are not allowed to create any permanent damage or changes to the premises or the building. This mean that you cannot drill, nail etc in the floor, pillars, walls or ceiling.</li><br>
      <li>• All participants are responsible for that the space and area you borrow will be restored in the same condition as it was lent. This applies to color, tape, etc.</li><br>
      <li>• All technology must be able to be switched off after closing.</li><br>
      <li>• You are responsible for all transport of materials, to and from Färgfabriken, and for everything you enter to the building during the construction and exhibition period.</li><br>
      <li>• Construction is to be carried out during the agreed working hours.</li><br>
      <li>• You can not sell your art och products in the exhibition space.</li><br>
      <li>• Färgfabriken is a religious and politically independent foundation, where everyone should feel welcome. We trust that these values will be respected, offensive content is not permitted in the exhibition.</li><br>

        <br><br><br>
      </ul>

    </div>

    <div class="col-2">
    </div>

  </div>

</div>




