<% @param = "https://docs.google.com/drawings/d/e/2PACX-1vSXlH_psuxyE0cTvH-i7DtKgl5kUnc0nfrIZw_QfozvnVPJhv4_5gX-x7OXVqewBl3xMuFoFboaIE_Q/pub?w=1398&amp;h=1605?" + Random.rand(1000000000).to_s %>

<div class="main_content_fixed">

  <div class="row">

    <div class="col-2">
    </div>

    <div class="col-8">

      <p class="section-heading">Vision Placement</p>
      <br>
      <b>To place your Vision, please <a href="https://docs.google.com/drawings/d/1SWfAIsv2eCLdLT39VfSrKbNGT-sgO4lvwWyPsjghiKU/edit?usp=sharing">edit this map</a> and refresh this page.</b><br>
      <img src="<%= @param %>">
    </div>

    <div class="col-2">
    </div>

  </div>

</div>




