<div class="row">
  <div class="col-md-8">
    <h1 style="font-size:22px; font-weight:bold;">What is this?</h1>
    <br>
    <p>Where do YOU think we are 29 years from now? Where do you WANT society to be at that time?</p>

    <p>Whether you want to take the visitors into a dystopian scenario they wouldn't have imagined, show the exciting implications of technologies not yet invented, or something within the theme we haven't thought of, we invite you to use the blank canvas of over 500m2 as your platform of co-creative expression.</p>

    <p>We welcome you to freely choose what format you want to work with and how you want to present your creation, your story, your experience or anything you come up with.</p>

    <p>As examples, this could be art installations, workshops, videos, performances & experiences. You can weld, build, paint, program, play music or create a robotic architecture. Maybe you are a great storyteller, or a workshop host. Maybe you just want to help the people building, by making sandwiches and serving tea. Every effort counts in this creative community, and is welcome.</p>

    <p>This site is where we imagine and show our ideas for Drone Dancing. It's where we explore each others ideas, and decide who gets funding, and how much. This happens through everyone in the online community receiving virtual coins, which they can use to fund their favorite projects.</p>

    <p>Building happens between April 26, 2018 (when the funding has been allocated) and the opening of the event, September 1st. In principle you could start now. The venue is booked for build-up a week before opening. After closing September 16th, we clean up and leave the place as we found it. </p>

    <p>To learn more, visit the info page. Also attend the facebook event and group. And don’t forget to sign up!</p>
  </div>
</div>