.section {
  padding-bottom: 25px;
}

.about-content {
  padding: 5% 5% 0% 5%;

  h1 {
    font-size: 3em;
    font-family: 'Ropa Sans', sans-serif;
    margin-bottom: 1em;
  };

  p {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 1.5em;
  }
}

.section1 {
  max-width: 600px;
  margin: 0% auto;
  background:rgba(255,255,255,0.75);
  padding: 25px;
  border-radius: 25px;
}

.section2 {
  background:rgba(255,230,109,0.75);
  padding: 25px;
  border-radius: 25px;
  max-width: 600px;
  margin: 0 auto;

  h1 {
    color: black;
  };

  p {
    color: black;
  }

  ul {
    p {
      padding: 0;
    }
  } 

  a {
    color: $cdd-red;
    &:hover {
        color: white;
      }
  }

}

.section3 {
  background:rgba(26,83,92,0.75);
  padding: 25px;
  border-radius: 25px;
  max-width: 600px;
  margin: 0 auto;

  h1 {
    color: white;
  };

  ul {
    p {
      padding: 0;
    }
  }  

  p {
    color: white;
  }

  a {
    color: #FFE66D;
    &:hover {
        color: $cdd-red;
      }
  }
}